@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --color-1: #21C5C5;
  --color-2: #349B9B;
  --color-3: #00EFEF;
  --color-4: #387070;
  --color-5: #2E4646;
}

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

nav {
    display: flex;
    gap: 30px;
}

.logo {
  color: var(--color-3); /* Cor base do link */
}

nav a {
  color: var(--color-3); /* Cor base do link */
  text-shadow: 0 0 5px var(--color-3), 0 0 10px var(--color-3), 0 0 20px var(--color-3), 0 0 30px var(--color-3), 0 0 40px var(--color-3); /* Efeito Neon */
  transition: text-shadow 0.3s ease-in-out; /* Transição suave */
}

nav a:hover {
  text-shadow: 0 0 10px var(--color-3), 0 0 20px var(--color-3), 0 0 30px var(--color-3), 0 0 40px var(--color-3); /* Efeito Neon mais forte no hover */
}


.cabecalho {
  background: #000;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  gap: 20px;
}

.logo {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  color: var(--color-1);
}

header {
    background-color: rgb(15, 15, 15);
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}


.curriculo {
    width: 120px;
    height: 40px;
    padding: 8px;
    border-radius: 20px;
    border: none;
    background: rgb(28, 187, 28);
    color: #fff;
}

/* BODY */
body {
  background: #222;
  color: #fff;
  overflow-x: hidden;
}

.inicio {
    text-align: center;
}

img#vitor {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}